{
  "openapi": "3.1.0",
  "info": {
    "title": "MailChimp Transactional API",
    "description": "Send transactional email at scale. This is a demo specification used to showcase auto-generated, always-in-sync API documentation.",
    "version": "1.3.0",
    "contact": {
      "name": "Developer Support",
      "url": "https://mailchimp.com/developer/transactional/"
    }
  },
  "servers": [
    {
      "url": "https://mandrillapp.com/api/2.0",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/messages/send": {
      "post": {
        "summary": "Send a new message",
        "description": "Send a new transactional message through the Transactional API. Returns the status of each recipient.",
        "operationId": "sendMessage",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key", "message"],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "A valid Transactional API key.",
                    "example": "YOUR_API_KEY"
                  },
                  "message": { "$ref": "#/components/schemas/Message" },
                  "async": {
                    "type": "boolean",
                    "description": "Enable a background sending mode optimized for bulk sending.",
                    "default": false
                  },
                  "send_at": {
                    "type": "string",
                    "description": "When this message should be sent (UTC), formatted YYYY-MM-DD HH:MM:SS.",
                    "example": "2026-06-01 09:00:00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of per-recipient send statuses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SendResult" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/messages/send-template": {
      "post": {
        "summary": "Send using a template",
        "description": "Send a new transactional message using a template stored in your account, with optional merge variables.",
        "operationId": "sendTemplate",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key", "template_name", "message"],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "A valid Transactional API key.",
                    "example": "YOUR_API_KEY"
                  },
                  "template_name": {
                    "type": "string",
                    "description": "The immutable name or slug of a template that exists in the user's account.",
                    "example": "welcome-email"
                  },
                  "template_content": {
                    "type": "array",
                    "description": "An array of template content to send.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string", "example": "main" },
                        "content": { "type": "string", "example": "<h1>Welcome!</h1>" }
                      }
                    }
                  },
                  "message": { "$ref": "#/components/schemas/Message" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of per-recipient send statuses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SendResult" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/messages/info": {
      "post": {
        "summary": "Get message info",
        "description": "Get the information for a single recently sent message by its unique id.",
        "operationId": "getMessageInfo",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key", "id"],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "A valid Transactional API key.",
                    "example": "YOUR_API_KEY"
                  },
                  "id": {
                    "type": "string",
                    "description": "The unique id of the message to get \u2014 from a send call, send-template call, or webhook event.",
                    "example": "abc123def456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The detailed information on a single message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageInfo" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Pass your Transactional API key. All requests also accept the key in the request body."
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "required": ["from_email", "to"],
    "properties": {
          "html": {
            "type": "string",
            "description": "The full HTML content to be sent.",
            "example": "<p>Thanks for signing up!</p>"
          },
          "subject": {
            "type": "string",
            "description": "The message subject.",
            "example": "Welcome aboard"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "description": "The sender email address.",
            "example": "hello@example.com"
          },
          "from_name": {
            "type": "string",
            "description": "Optional from name to be used.",
            "example": "Example Team"
          },
          "to": {
            "type": "array",
            "description": "An array of recipient information.",
            "items": {
              "type": "object",
              "required": ["email"],
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email",
                  "example": "recipient@example.com"
                },
                "name": { "type": "string", "example": "Jordan Lee" },
                "type": {
                  "type": "string",
                  "enum": ["to", "cc", "bcc"],
                  "default": "to"
                }
              }
            }
          },
          "track_opens": {
            "type": "boolean",
            "description": "Whether to turn on open tracking for the message.",
            "default": true
          },
          "track_clicks": {
            "type": "boolean",
            "description": "Whether to turn on click tracking for the message.",
            "default": true
          },
          "tags": {
            "type": "array",
            "description": "An array of string tags to categorize the message. Tags starting with an underscore are reserved.",
            "items": { "type": "string" },
            "example": ["welcome", "onboarding"]
          }
        }
      },
      "SendResult": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "recipient@example.com"
          },
          "status": {
            "type": "string",
            "description": "The sending status of the recipient.",
            "enum": ["sent", "queued", "scheduled", "rejected", "invalid"],
            "example": "sent"
          },
          "reject_reason": {
            "type": "string",
            "description": "The reason for the rejection if the status is rejected.",
            "enum": ["hard-bounce", "soft-bounce", "spam", "unsub", "custom", null],
            "example": null
          },
          "_id": {
            "type": "string",
            "description": "The unique id of the message for querying status later.",
            "example": "abc123def456"
          }
        }
      },
      "MessageInfo": {
        "type": "object",
        "properties": {
          "_id": { "type": "string", "example": "abc123def456" },
          "sender": { "type": "string", "format": "email", "example": "hello@example.com" },
          "subject": { "type": "string", "example": "Welcome aboard" },
          "email": { "type": "string", "format": "email", "example": "recipient@example.com" },
          "state": {
            "type": "string",
            "enum": ["sent", "bounced", "rejected", "spam", "queued"],
            "example": "sent"
          },
          "ts": {
            "type": "integer",
            "description": "The Unix timestamp the message was sent.",
            "example": 1748764800
          },
          "opens": { "type": "integer", "example": 2 },
          "clicks": { "type": "integer", "example": 1 },
          "tags": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["welcome", "onboarding"]
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "error" },
          "code": { "type": "integer", "example": -1 },
          "name": { "type": "string", "example": "Invalid_Key" },
          "message": {
            "type": "string",
            "example": "Invalid API key"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "The API key provided was invalid.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "ServerError": {
        "description": "An unexpected error occurred on the server.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
